.mina-title {
  color: black;
  text-align: center;
}

.hero-image {
  background-image: url("/hero-image.gif");
  height: 40vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
}

.testimonial-container h3 {
  margin-top: 3rem;
  text-align: center;
}

.what-we-do-container{
  margin-top: 3rem;
  text-align: center;
}

@media (max-width: 768px) {
  .col{
    flex: none;
  }
}