.mina-title{
    color: beige;
}
.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
}

.hero-image{
    margin-left: 10rem;
}

.what-we-do-container{
    margin-bottom: 2rem;
}

.what-we-do-container li{
    margin-bottom: 2.1rem;
}

.what-we-do-container h3{
    text-align: center;
    margin-top: 5rem;
}

.testimonial-container h3{
    text-align: center;
    margin-top: 5rem;
}

